*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: #EEEEEE;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 1500px;
    max-height: 1600px;
    margin: 0 auto;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}

.title {
    margin-top: -15px;
    text-align: center;
}

.title1 {
    margin-top: 10px;
}

h1{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
   }


h2{
 font-size: 30px;
 font-family: 'Roboto Condensed', sans-serif;
}

img{
    max-width: 200px;
    border-radius: 10px;
    
}

table {
    border-collapse: collapse;
    border: 2px solid #888;
}

table td, table th {
    text-align: center;
    border: 1px solid #888;
}

table th {
    background: #ccc;
}

.cabecalho{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 40px;
    align-items: center;
}

.textCabecalho h2{
    margin-bottom: 70px;
    padding-top: 30px;
}

.textCabecalho div{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.borderBlue{
    width: 750px;
    height: 30px;
    background: #1D5D9B;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.box{
    background: white;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #888;
    max-width: 750px;
    max-height: 280px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}